<ul style="display: flex; gap: 10px; list-style:none;">
    <li><a href="/movies">Listado de peliculas</a></li>
    <li><a href="/genres">Listado de generos</a></li>
    <li><a href="/actors">Listado de actores</a></li>
</ul>